@model IEnumerable<TaskBoard.Models.OrderModel>
@{
    ViewData["Title"] = "Index";
    Layout = "_BasicLayout";
}

<div class="container-fluid">
    <div class="table-responsive table-hover table-striped table-bordered">
    <table class="table">
        <thead>
            <tr>
                <th>Тема</th>
                <th class="text-nowrap">Описание заказа</th>
                <th>Стоимость</th>
                <th class="text-nowrap"> Дата сдачи</th>
                <th>Выложил</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                if (String.IsNullOrEmpty(order.Doer))
                {<tr>
                    <th>
                        @order.Theme
                    </th>
                    <td>
                        @order.Description
                    </td>
                    <th class="text-nowrap">
                        @order.Value рублей.
                    </th>
                    <th class="text-nowrap">
                        @order.Deadline
                    </th>
                    <th>
                        @order.Owner
                    </th>
            
                    <th>
                        <a href="/UserOrders/ApplyAsDoer?orderId=@order.Id&doerLogin=@ViewBag.UserLogin&ownerLogin=@order.Owner" type="button" class="btn btn-secondary">Откликнуться</a>
                    </th>
                </tr> 
                }

            }
           
        </tbody>
    </table>
        </div>
</div>

