@model IEnumerable<DataBaseConnector.OrderModel>
    @{
    ViewData["Title"] = "Index";
    Layout = "_BasicLayout";
    }
    <div class="container-fluid">
        <div class="row justify-content-center p-2">
            <h2>Список ваших заказов</h2>
        </div>
        <div class="table-responsive table-hover table-striped table-bordered">
            <table class="table">
                <thead>
                    <tr>
                        <th>Тема</th>
                        <th class="text-nowrap">Описание заказа</th>
                        <th>Стоимость</th>
                        <th class="text-nowrap"> Дата сдачи</th>
                        <th>Исполнитель</th>
                        <th>Действие</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
            {
                    <tr>
                        <th>
                            @order.Theme
                        </th>
                        <td>
                            @order.Description
                        </td>
                        <th class="text-nowrap">
                            @order.Value рублей
                        </th>
                        <th class="text-nowrap">
                            @order.Deadline
                        </th>
                        <th>
                            @if (String.IsNullOrEmpty(order.Doer))
                            {
                                <a href="/userorders/ChooseDoer/@order.Id">Выбрать исполнителя</a>

                            }else
                            {
                                @Html.Raw(order.Doer)
                            }

                        </th>
                        <th>
                            <a href="/UserOrders/Edit/@order.Id" type="button" class="btn btn-primary">Редактировать</a>
                            @if (!String.IsNullOrEmpty(order.Doer))
                            {
                                <a href="/UserOrders/WorkBoard?orderId=@order.Id&owner=@order.Owner" type="button" class="btn btn-info">Работа с исполнителем</a>
                            }
                            else
                            {
                                <a href="/UserOrders/Delete/@order.Id" type="button" class="btn btn-danger">Удалить</a>

                            }

                        </th>
                    </tr>
            }

                </tbody>
            </table>
        </div>
    </div>
